<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/homestyle.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/commentStyle.css">
    <link rel="icon" href="/img/apple-icon-120x120.png">
    <title>Home</title>
</head>

<body>
    <div class="pageContainer">
        <div class="sidebarContainer">
            <div class="logoDiv">
                <li class="top-icon">
                        <img class="topLogo" src="/img/Webp.net-resizeimage.png" alt="">
                </li>
                <span class="logoname">ProgressPoint</span>
            </div>
           {{>sidebarUser}}
        </div>
        <div class="mainContainer"> 
            <div class="headerDiv" data-userName="{{developer.name}}"><h3>Welcome {{developer.name}}</h3></div>
             <div class="share">
                <div class="shareWrapper">
                    <span class="shareText"> Share an Update ?</span>
                    <form id="modalCreateUpload" name="modalCreateUpload" enctype="multipart/form-data">
                        <div class="shareTop">
                            <input
                            placeholder="Search team name"
                            class="shareInput form-control"
                            type="text" id="side-tweet-name" name="name" id="exampleFormControlTextarea1" rows="1" required='true'
                            ></input>
                        </div>
                        <hr class="shareHr" />
                        <div class="shareTop">
                            <input
                                type="text" id="side-tweet-desciption" name="description"
                            placeholder="Type something ..."
                            class="shareInput form-control"
                            id="exampleFormControlTextarea1" rows="3"
                            ></input>
                        </div>
                        <hr class="shareHr" />
                        <div class="form-group shareTop">
                            <div class="buttonsContainer">
                                <div class="fileattach">
                                    <label for="side-tweet-file" class="custom-file-upload">Attach File</label>
                                    <input type="file" id="side-tweet-file" name="fileUpload" class="form-control shareInput" id="exampleFormControlTextarea1" rows="1" hidden ></input>
                                </div>
                                <div class="shareButtonDiv"><button id="side-tweet" type="submit" class="shareButton">Share</button></div>  
                            </div>  
                        </div>


                         {{!-- <form id="modalCreateUpload" name="modalCreateUpload" enctype="multipart/form-data">
                    <div class="form-group">
                        <input  type="text" id="side-tweet-name" name="name" class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Chat room name" required='true'></input>
                    </div>
                    <div class="form-group">
                        <input type="text" id="side-tweet-desciption" name="description" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Task description" required='true'></input>
                    </div>
                    <div class="form-group">
                        <input type="file" id="side-tweet-file" name="fileUpload" class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Attach File" required='true' ></input>
                    </div>
                    
                    <button id="side-tweet" form="modalCreateTweet" type="submit" class="btn btn-primary " data-dismiss="modal" aria-hidden="true">Post</button>
                </form> --}}
                    </form>
                </div>
            </div>

        

      <div class="post" id="toAppend"></div>
    



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="/js/UserProfile.js"></script>
    <script src="/js/UserUpload.js"></script>
    <script src="/js/UserHome.js"></script>
    <script src="/js/UserComment.js"></script>

    {{!-- <script src="js/sideBar.js"></script>
    <script src="/js/creatTweet.js"></script>
    <script src="js/loadTweets.js"></script>
    <script src="js/tweetFunctions.js"></script> --}}
</body>

</html>