.col-sm-3 {
    height: 100vh;
}

.nav-item {
    font-size: 1.5rem;
}

.nav-link {
    color: black;
    line-clamp: 25px;
    /* background-color: blue; */
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.icon {
    margin-right: 20px;
}

.top-icon {
    margin-bottom: 20px;
}

.signup {
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    background-color: #38A1F2;
    color: white;
    width: 80%;
    line-height: 40px;
}

li .signup :hover {
    opacity: 1;
}

#logoutUser {
    cursor: pointer;
}

#logoutUser:hover {
    color: #0B56B3;
}


/* break for profile style */

h3 {
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    width: 100%;
    color: rgb(46, 44, 42);
}

.user {
    margin-left: 20px;
    margin-top: 10px;
}

.twitter-handle {
    color: rgb(125, 126, 128);
    margin-left: 20px;
}

.follow {
    color: rgb(125, 126, 128);
    margin-left: 20px;
}

.tweet {
    color: rgb(90, 90, 90);
    margin-left: 30%;
    font-size: 20px;
    /*font-weight: bold;*/
    cursor: pointer;
}

.tweet:hover {
    font-weight: bold;
    background-color: rgb(160, 212, 251);
    border-radius: 10px;
}

.edit {
    background-color: transparent;
    color: rgb(46, 44, 42);
    border-radius: 20px;
    border-color: rgb(46, 44, 42);
    line-height: 40px;
    margin: auto;
}

.username {
    font-weight: bold;
    font-size: 25px;
    margin: auto;
    margin-right: 50%;
}

.mytweet {
    color: rgb(138, 138, 138);
    margin-left: 10px;
    margin-right: 40px;
    font-size: 17px;
    cursor: pointer;
}

.count {
    padding-left: 7px;
}

.content-like {
    margin-top: 20px;
}

.tweet-content {
    margin-top: 10px;
}

.heart {
    width: 50px;
    height: 13px;
    background-image: url('https://cssanimation.rocks/images/posts/steps/heart.png');
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: 2900%;
}

.is-animating {
    animation: heart-burst .5s steps(28) 1;
}

#side-post,
.signup,
#editProfile {
    background-color: rgb(46, 44, 42);
}

.append-info {
    width: 100%;
    height: 28vh
}

.info-image {
    width: 30%;
    float: left;
    padding-top: 10px
}

.info-data {
    width: 70%;
    float: left
}

.data-name {
    width: 100%;
    font-weight: bold;
    padding: 20px
}

.data-description {
    width: 100%;
    padding: 20px
}

.document-title {
    font-weight: bold;
}

.alignment {
    text-align: center;
    padding: 30px;
    padding-left: 250px;
}